@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: "ss02" 1;
}

@keyframes colourwheel {
  0%,
  10% {
    color: oklch(0.637 0.237 25.331); /* red */
  }
  10%,
  20% {
    color: oklch(0.723 0.219 149.579); /* emerald */
  }
  20%,
  30% {
    color: oklch(0.746 0.16 232.661); /* sky */
  }
  30%,
  40% {
    color: oklch(0.718 0.202 349.761); /* pink */
  }
  40%,
  50% {
    color: oklch(0.511 0.262 276.966); /* indigo */
  }
  50%,
  60% {
    color: oklch(0.792 0.209 151.711); /* lime */
  }
  60%,
  70% {
    color: oklch(0.905 0.182 98.111); /* yellow */
  }
  70%,
  80% {
    color: oklch(0.667 0.295 322.15); /* fuchsia */
  }
  80%,
  90% {
    color: oklch(0.646 0.222 41.116); /* orange */
  }
  90%,
  100% {
    color: oklch(0.704 0.14 182.503); /* teal */
  }
}

.colourwheel {
  animation: colourwheel 0.5s linear 3;
}
