@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: "ss02" 1;
}

@keyframes flash {
  0% {
    background-color: oklch(0.905 0.182 98.111);
  }
  100% {
    background-color: transparent;
  }
}

.flash:focus {
  animation: flash 0.75s ease-out;
}

@keyframes colourwheel {
  0%,
  10% {
    color: oklch(0.637 0.237 25.331); /* red */
  }
  10.01%,
  20% {
    color: oklch(0.723 0.219 149.579); /* emerald */
  }
  20.01%,
  30% {
    color: oklch(0.746 0.16 232.661); /* sky */
  }
  30.01%,
  40% {
    color: oklch(0.718 0.202 349.761); /* pink */
  }
  40.01%,
  50% {
    color: oklch(0.511 0.262 276.966); /* indigo */
  }
  50.01%,
  60% {
    color: oklch(0.792 0.209 151.711); /* lime */
  }
  60.01%,
  70% {
    color: oklch(0.905 0.182 98.111); /* yellow */
  }
  70.01%,
  80% {
    color: oklch(0.667 0.295 322.15); /* fuchsia */
  }
  80.01%,
  90% {
    color: oklch(0.646 0.222 41.116); /* orange */
  }
  90.01%,
  100% {
    color: oklch(0.704 0.14 182.503); /* teal */
  }
}

.colourwheel {
  animation: colourwheel 0.5s linear 4;
}
